*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background: #52154E;
    background-image: url('https://live.staticflickr.com/65535/54904435779_82610c8623_b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
.app{
    background: #4874ad;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: #f9f3dc;
    font-weight: 600;
    border-bottom: 1px solid #7fa0ca;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color:#f9f3dc;
    font-weight: 600;
    padding-bottom: 15px;
}
.btn{
    background: #ebd684;
    color: #373c43;
    font-weight: 650;
    width: 100%;
    border: 1px solid #EFE9E7;
    padding: 15px;
    margin: 10px 10px;
    text-align: left;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.4s;
}
.btn:hover:not([disabled]){
    background: #7fa0ca;
    color: #EFE9E7;
}
.btn:disabled{
    cursor: default;
}
#next-btn{
    background: #7fa0ca;
    color: #EFE9E7;
    font-weight: 750;
    font-size: 16px;
    width: 100px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    transition: all 0.4s;
}
#next-btn:hover{
    background: #896939;
}
.correct{
    background: #78bb57;
    color:#373c43
}
.incorrect{
    background: #373c43;
    color: #f9f3dc;
}